

<div class="col-lg-10">
    <form>
        {{data.name}} <input type="text" class="form-control mt-3 " placeholder="Enter Your Full Name" /> <br>
        {{data.email}} <input type="email" class="form-control mt-2" placeholder="Enter Your email" /> <br>
        {{data.number}} <input type="number" class="form-control " placeholder="Enter Your Mobile Number" /> <br>


        <button mat-raised-button class="btn btn-md btn-dark mt-1"  mat-stroked-button (click)="snackbar()">Create Account

        </button>

    </form> <br>

    <h4>Already have a account?   <a routerLink="login"> Login </a>  </h4>

</div>
